section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  color: #42455a;
}

.container {
  display: flex;
  justify-content: space-around;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}