<div class="console">
    <header>
        <span class="header">pawel maslak - get in touch</span>
    </header>
    <div class="consolebody">
        <div class="description">
            <span class="desc-body">>Although I am not looking actively for a new role, I am always open to new contacts and discussion! </span>
            <span class="desc-body">If you want to get in touch or just say hi, please click below to contact me.</span>
        </div>
        <div class="hello">
            <a href="mailto:maslak.pawel89@gmail.com">
                <div class="button">
                    <span>Contact Me</span>
                </div>
            </a>
        </div>
    </div>
</div>