<div class="welcome">
    <div class="desc">
        <div class="text-container">
            <div class="text-box">
                <h3>Hey, you guys!</h3>
                <span>
                    <p>My name is <span class="bold">Pawel</span> and I am passionate about software engineering.</p>
                    <p>Originally from Szczecin, Poland I decided I would like to see the world and since then visited and lived
                        in multiple countries. This gave me true insight how the world is really diverse and amazing.
                    </p>
                    <p>Since the very young age I was into about all related to computers and Internet. Eventually I
                        decided I
                        would like to start building software solutions myself.</p>
                    <p>My main focus is automation, back-end services, API development.</p>
                    <p>In my career I had a chance to work on multiple different projects. For more details, please navigate to
                        <a href="#projects">projects</a> section or check my <a href="https://github.com/PawelMaslak">Github</a>.
                    </p>
                </span>
                <h3>Techstack</h3>
                <span>
                    <div class="container">
                        <div class="col des">
                            <p>Here is the list of technologies I worked recently with:</p>
                        </div>
                        <div class="col">
                            <ul class="technologies">
                                <li>C#</li>
                                <li>.NET</li>
                                <li>API Development</li>
                                <li>Entity Framework</li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="technologies">
                                <li>Typescript</li>
                                <li>MS SQL</li>
                                <li>Microservices</li>
                                <li>Automation</li>
                            </ul>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="photo">
        <div class="img-container">
            <img src="../../../assets/images/pawelpng.png" alt="">
        </div>
    </div>
</div>

