<div class="text-container">
    <div class="text-box">
        <div class="github right">
        </div>
        <div class="project">
            <div class="name">
                <h3>montana brows</h3>
            </div>
            <div class="description">
                <span>
                    Business card type of website providing basic means of contact(via
                    contact form, Whatsapp business), gallery, pricing and booking plugin. Application is divided between back-end and front-end services. Application also uses external APIs to get eg. owner's Instagram posts.
                </span>
            </div>
            <div class="techstack">
                <span>C#, ASP .NET Core Web API, Angular</span>
            </div>
        </div>
    </div>
    <div class="text-box">
        <div class="github right">
            <span class="icon">
                <a href="https://github.com/PawelMaslak/MaslShop" target=”_blank”>
                    <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
                </a>
            </span>
        </div>
        <div class="project">
            <div class="name">
                <h3>Sales Portal</h3>
            </div>
            <div class="description">
                <span>
                    Implementation of features in global sales portal which allowed more precise quotes which resulted in increased sales in EMEA Region. 
                </span>
            </div>
            <div class="techstack">
                <span>C#, ASP.NET MVC, MS SQL, Kendo UI, Angular JS</span>
            </div>
        </div>
    </div>
    <div class="text-box">
        <div class="github right">
        </div>
        <div class="project">
            <div class="name">
                <h3>dynamic forms</h3>
            </div>
            <div class="description">
                <span>
                    Site that renders the site content depending on received JSON data. Developers are able to select type of styling, shape the content in whichever way they like. 
                    Communication with back-end services is achieved by sending and receiving back data in JSON format.
                </span>
            </div>
            <div class="techstack">
                <span>C#, ASP .NET Core Web API, Angular, MS SQL</span>
            </div>
        </div>
    </div>
</div>
<div class="text-container">
    <div class="text-box">
        <div class="github right">
        </div>
        <div class="project">
            <div class="name">
                <h3>bs rec microservice</h3>
            </div>
            <div class="description">
                <span>
                    A microservice that extends functionality of dynamic forms. Receiving in JSON data accounting summary and converting it into .xlsx file so it can be forwarded to third party system. 
                </span>
            </div>
            <div class="techstack">
                <span>C#, ASP .NET Core Web API, MS SQL, Microservices</span>
            </div>
        </div>
    </div>
    <div class="text-box">
        <div class="github right">
        </div>
        <div class="project">
            <div class="name">
                <h3>mailbox handling service</h3>
            </div>
            <div class="description">
                <span>
                    A service that can access multiple mailboxes, process received emails, capture the content, allocate emails and handle attachments as per rules required by users.
                </span>
            </div>
            <div class="techstack">
                <span>C#, .NET, MS SQL</span>
            </div>
        </div>
    </div>
    <div class="text-box">
        <div class="github right">
        </div>
        <div class="project">
            <div class="name">
                <h3>API Services</h3>
            </div>
            <div class="description">
                <span>
                    Various types of services to handle thrid party APIs - capture the data, taking into account API limits, process data, store data in company's database and generate reports.
                </span>
            </div>
            <div class="techstack">
                <span>C#, .NET Core, MS SQL</span>
            </div>
        </div>
    </div>
</div>