<footer (window:scroll)="revealFooter()">
    <div class="reveal">
        <div class="container">
            <div class="signature">
                <span>Designed and built by Pawel Maslak &copy;</span>
            </div>
        </div>
        <div class="container">
            <ol>
                <li>
                    <span>
                        <a href="https://github.com/PawelMaslak" target=”_blank”>
                            <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
                        </a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="https://www.linkedin.com/in/pawel-maslak-b32a66177/" target=”_blank”>
                            <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
                        </a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="https://www.instagram.com/pauldechampignon/" target=”_blank”>
                            <fa-icon [icon]="['fab', 'instagram']" size="2x" class="goofno"></fa-icon>
                        </a>
                    </span>
                </li>
            </ol>
        </div>
    </div>
</footer>