/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}

//This is some pseudo-change.

body {
    margin: 0;
    padding: 0;
    background-color: #42455a;
}

p {
    margin: 0;
}

@font-face {
    font-family: "CascadiaCode";
    src: local("CascadiaCode"), url(./assets/fonts/Cascadia/CascadiaCode.ttf) format("truetype");
}

@font-face {
    font-family: "CascadiaCode-Bold";
    src: local("CascadiaCode-Bold"), url(./assets/fonts/Cascadia/CascadiaCode-Bold.ttf) format("truetype");
}

//Scrollbar
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #2f2f30; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #e0ffff; 
    border-radius: 10px;
  }
  